.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main";
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: auto auto auto;
  min-height: 100;
  gap: 10px;
}

/* Grid Areas */
.header {
  grid-area: header;
  background-color: #282c34;
  color: white;
  padding: 0.1rem 1rem;
}

.sidebar {
  margin-top: 4.8rem;
  grid-area: sidebar;
  background-color: #ddd;
  padding: 0.3rem;
  height: 100%
}

.main {
  margin-top: 3rem;
  margin-bottom: -5.41rem;
  grid-area: main;
    background: linear-gradient(
    to bottom,
    #68e9de 0%,
    #1f8370 50%,
    #045245 100%
  );
  padding: 1rem;
}

.main img{
      flex: 1 1 600px;          /* flexible: grows/shrinks, but min ~200px */
}

.rightside {
  margin-top: 5rem;
  grid-area: rightside;
  background-color: #eee;
  padding: 1rem;
}

.img{
      flex: 1 1 2rem;          /* flexible: grows/shrinks, but min ~200px */
}